<div class="container mt-5">

  <div class="notification is-info is-small has-text-centered">
		💛 Découvrez nos nouvelles pop Dragon Ball sur <strong>Poppyshop </strong>
  </div>

  <section class="hero is-black">
    <div class="hero-body">
      <div class="columns  is-vcentered">
        <div class="column">
          <div class="container ml-6">
            <h1 class="title ">Shopypop</h1>
            <h2 class="subtitle">La meilleur boutique FunkoPop en ligne.</h2>
            <button class="button is-info is-inverted" routerLink="/products">Commander</button>
          </div>
        </div>
        <div class="column">
          <img src="assets/img/boruto_banner.png" alt="">
        </div>
      </div>
    </div>
  </section>

</div>

<section class="section" style="margin-bottom: 0;">
  <div class="container has-text-centered py-4">
    <h2 class="title has-text-weight-bold mb-6">Shopypop ? Kézako ?</h2>
    <div class="columns is-multiline is-centered">
      <div class="column card mx-2">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="assets/img/banner_pokemon.png" alt="">
          </figure>
        </div>
        <div class="card-content">
          <h4 class="title is-uppercase"> Des prix attractifs</h4>
          <p>La livraison est gratuite, nous fournissons les prix les plus attractifs du marché français. </p>
        </div>
      </div>
      <div class="column card mx-2">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="assets/img/banner_pop.png" alt="">
          </figure>
        </div>
        <div class="card-content">
          <h4 class="title is-uppercase">Une large selection</h4>
          <p>Shopypop vous propose une large selection de pops disponible sur le site. N'attendez-plus et trouvez votre bonheur !</p>
        </div>
      </div>
      <div class="column card mx-2">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="assets/img/banner_woody.png" alt="">
          </figure>
        </div>
        <div class="card-content">
          <h4 class="title is-uppercase"> Pops exclusives</h4>
          <p>Importé d'Asie, Shopypop dispose de pops exclusives en France. Trouvable uniquement sur ce site web, commandez maintenant.  </p>
        </div>
      </div>
    </div>
    <div class="buttons is-centered">
      <a class="button is-info" href="/products">Découvrez nos produits</a>
    </div>
  </div>
</section>


<div class="hero is-dark is-bold" style="margin-top: 0px;">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-12 is-10-fullhd">
          <div class="columns is-vcentered">
            <div class="column is-half">
              <div class="title"> 📬 Newsletter </div>
              <div class="subtitle"> Recevoir les news pop à lire absolument </div>
            </div>
            <div class="column is-half">
                <div class="field has-addons">
                  <div class="control is-expanded"> <input class="input is-medium" name="EMAIL"
                      placeholder="Enter your email" required="" type="email" value=""> </div>
                  <div class="control"> <button class="button is-dark is-inverted is-medium"
                      type="submit">Subscribe</button> </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
