<section class="section" *ngIf="!command">
    <div class="container">
        <div class="columns">
            <div class="column box">
                <h1 class="title">Panier</h1>
                <div class="card columns" *ngFor="let product of products | async">
                    <div class="column is-3">
                        <div class="card-image">
                            <figure class="image">
                              <img src="assets/img/pop/{{product.image}}" alt="Placeholder image">
                            </figure>
                          </div>
                    </div>
                    <div class="column">
                        <table class="table is-striped is-fullwidth">
                            
                            <tbody>
                                <tr>
                                    <th>Nom</th>
                                    <td>{{product.name}}</td>
                                </tr>
                              <tr>
                                <th>Série</th>
                                <td>{{product.category}}</td>
                              </tr>
                              <tr>
                                <th>Personnage</th>
                                <td>{{product.character}}</td>
                              </tr>
                              <tr>
                                <th>quantité</th>
                                <td><input min=1 max="{{product.stock}}" type="number" [(ngModel)]="product.quantity"></td>
                              </tr>
                            </tbody>
                          </table>
                          <div class="level">
                            <div class="level-left">
                                <button  (click)="removeProduct(product)" class="button is-fullwidth is-danger">
                                    Supprimer du panier
                                </button>
                            </div>
                            <div class="level-right">
                                {{ product.price * product.quantity }} €
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title is-centered">Votre panier</p>
                    </header>
                    <div class="card-body">
                        <table class="table is-striped is-fullwidth">
                            
                            <tbody>
                                <tr>
                                    <th>Nombre d'articles : </th>
                                    <td>{{ cartLength | async }}</td>
                                </tr>
                              <tr>
                                <th>Prix du panier: </th>
                                <td>{{ totalPrice | async }} €</td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                    <footer class="card-footer">
                        <button class="card-footer-item button is-primary is-block" *ngIf="(login | async)" (click)="setCard()">
                            Passer la commande
                        </button>
                        <button class="card-footer-item button is-primary is-block" *ngIf="!(login | async)" routerLink="/account/login">
                            Connecter vous pour passer commande
                        </button>
                      </footer>

                </div>
            </div>
        </div>
    </div>
</section>

<section *ngIf="command">
    <div class="section">
        <div class="container has-text-centered">
            <h1 class="title">Votre commande est enregistrée, merci.</h1>
            <div class="column is-half is-centered">
                <button class="button is-primary" routerLink="/products">
                    Revenir aux produits.
                </button>
            </div>
        </div>
    </div>
</section>